{% extends "weather_layout/basic.html" %}

{% load thumbnail %}
{% load static %}

{% block title %}Погода - главная{% endblock %}

{% block content %}
<div id="weather_left">
	<h1>Выберите город</h1>

	<form id="city_form" method="post" name="city_choose">
		<!-- <input type="text" name="city_name" placeholder="Введите название города"> -->
		{% csrf_token %}
		{{ form.name }}
		<input type="submit" name="submit" value="Узнать погоду">
	</form>
</div>

<div id="weather_right">
	<h1>Информация</h1>
	{% for city in cities %}
		<div class="weather_info">
			<p>Город: {{ city.city }}</p>
			<p>Температура: {{ city.temp }}<sup>o</sup></p>
			<img src='http://openweathermap.org/img/wn/{{ city.icon }}.png' alt=''>
		</div>
	{% endfor %}
</div>

{% endblock %}
