{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' content="text/html"/>
	<title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
	<link href="" rel='stylesheet' content="text/css"/>
	<link href="{% static 'weather_css/c1.css' %}" rel='stylesheet' content="text/css"/>
	<meta name="Keywords" content="test, site, website"/>
	<meta name="Description" content="Something text"/>
	<link href="#" rel="shortcut icon" type="image/x-icon"/>
</head>
<body>
	<div id="page_wrap">
	<header>
		<a id="main_title" href="{% url 'main:index' %}" title="Main page">Test site</a>
		{% if user.is_authenticated %}
		<a href="{% url 'main:profile' %}" id="profile" title="Профиль">Профиль</a>
		<a href="{% url 'main:logout' %}" id="auth" title="Выйти">Выход</a>
		{% else %}
		<a href="{% url 'main:register' %}" id="reg" title="Зарегистрироваться">Регистрация</a>
		<a href="{% url 'main:login' %}" id="auth" title="Войти">Вход</a>
		{% endif %}

	</header>
		<div class="clear"><br></div>
		<center>
			<div id="menu"><h2>Разделы</h2><hr></div>
			<div id="menuhreves">
				<a href="{% url 'main:other' page='about' %}" title="О нас">О нас</a>
				<a href="" title="Список рубрик">Рубрики</a>
				<a href="feedback.html" title="Обратная связь">Обратная связь</a>
			</div>
			
		</center>
		<div id="wrapper">
			
			
			{% block content %}
			{% endblock %}
<!--
			<div id="main_soc_block">
				<div id="main_soc_block_in">
					Lorem ipsum dorem
				
				</div>
			
			</div>
-->
		</div>
		
	</div>
	
	<footer>
		<p class="left">Все права защищены &copy; 2019</p>
		<a href="#" title="VK"><img src="{% static 'main/VK.png' %}" class="social" alt="VK"/></a>
		
		
	</footer>
</body>
</html>
