{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}Изменение комментария{% endblock %}

{% block content %}
<div id="comment_change_page">
	<div id="old_comment">
		<h2>Старый коммент</h2>
		<p>Статья: <a href="{% url 'main:detail' rubric_pk=comment.bb.rubric.pk pk=comment.bb.pk %}">
			{{ comment.bb }}
		</a></p>
		<p>Текст:</p>
		<span>{{ comment.content }}</span>
		<p>Дата создания: {{ comment.created_at }}</p>
	</div>
	<h2>Изменить комментарий</h2>
	<form method="post" id="comment_change_form">
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		{% for field in form.visible_fields %}
			{{ field.label_tag }}
			{{ field }}
			{{ field.help_text }}
		{% endfor %}
		
		<input type="submit" value="Изменить">
	</form>
</div>

<!--
<div id="profile_bb_delete_page">
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
	<input type="submit" value="Изменить">
	</form>
</div>
-->
{% endblock %}