{% extends "layout/basic.html" %}

{% block content %}
	<h2>Делаем сайт лучше</h2>
	<p>Мы с удовольствием принимаем любые пожелания и интересные идеи по улучшению сайта. Если у вас возникли вопросы по работе проекта, вы можете задать их нашим специалистам.
	</p>

	<p>Ваши предложения по улучшению сайта</p>

	<div id="feedback_block">
		<form method="post" id="feedback_form">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% for field in form.visible_fields %}
				<div class="fb_elem">
					{{ field.label_tag }}
					{{ field }}
					<!--<span class="helptext">{{ field.help_text }}</span>-->
				</div>
			{% endfor %}
			<input type="submit" value="Отправить" />
		</form>
	</div>
{% endblock %}