{% extends "layout/basic.html" %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<div id="password_reset_page">
	<h2>Сброс пароля пользователя {{ user.username }}</h2>
	<form method="post" id="password_reset_form">
		{% csrf_token %}
		
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		{% for field in form.visible_fields %}
			{{ field.label_tag }}
			{{ field }}
			<span>{{ field.help_text }}</span>
		{% endfor %}
		
		<input type='submit' value="Подтвердить">
	</form>		
</div>

<!--
	<h2>Сброс пароля пользователя {{ user.username }}</h2>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type='submit' value="Подтвердить">
	</form>
	-->
{% endblock %}